@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body: {
  font-family: "Public Sans", sans-serif;
}

input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #c9cfd2;
  position: relative;
}

input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  background-color: #fa8232;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.horizontal-slider {
  width: 100%;
  height: 3px;
  background-color: #e4e7e9;
  border-radius: 10px;
  position: relative;
}

.slider-track {
  height: 100%;
  position: absolute;
  top: 0;
}

.slider-track-0 {
  background-color: #e4e7e9;
}

.slider-track-1 {
  background-color: #fa8232;
}

.slider-thumb {
  height: 20px;
  width: 20px;
  border: 2px solid #fa8232;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: -6px;
}

.swiper {
  width: 100%;
  height: 100%; /* Set the height to something reasonable */
  margin-left: !important 0px;
}

.swiper {
  margin-left: 0 !important;
  /* Apply any other necessary layout corrections */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #1b6392;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #1b6392;
  fill: none;
  stroke-dasharray: calc(2 * 3.1416 * 20); /* Correct circle circumference */
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  transform: rotate(-90deg);
}

/* Target Swiper pagination container */
